.empty-list-description {
  text-align: center;
  max-width: 250px;
  margin-bottom: 30px;
  font-weight: normal; 
}

.empty-list-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 50px;
}


@media (max-width: 400px) {
  .empty-list-description {
    max-width: 90%; 
  }
}